div{
    border: 1px solid salmon;
     width: 30px;
    height: 35px;
    margin: 40px;  
    padding: 35px; 
} 

span{
    border: 1px solid rgba(rgb(24, 203, 125), alpha);
     width: 30px;
    height: 35px;
    margin: 40px;  
    padding: 35px; 
    display: inline-block;
}